<h2>Countries in <%= continent %></h2>

<ul>
  <% countries.each do |country| %>
    <% if country[:continent] == continent %>
    <li>
      <%= country[:name]%>
    </li>
      <% end %>
  <% end %>
</ul>